*.class
*.jar
*.war
*.ear
hs_err_pid*
target/
.idea/
*.iml

*.DS_Store
._*
.Trashes
.TemporaryItems

desktop.ini
Thumbs.db
$RECYCLE.BIN/
*.lnk

.metadata
.settings
.classpath
.mymetadata
.project
.springBeans